@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

:root {
    --dark-purple: #2100C4;
    --pink: #DDBAFF;
    /* marquee */
    --marquee-width: 100vw;
    --marquee-height: 15vh;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 9;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

* , 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-family: "Fuzzy Bubbles";
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* --- HEADER --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

header ul li a:hover {
    color: var(--pink);
}

header.sticky ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
}

header.sticky ul li a:hover {
    color: var(--dark-purple);
    font-weight: 600;
}

header ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--pink);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header.sticky ul li a::before {
    background-color: var(--dark-purple);
}

header ul li a:hover::before {
    transform: scaleX(1);
}

section {
    padding-top: 150px;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */  
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(images/background-g0c235821a_1280.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    /* color: #fff; */
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    /* color: #fff; */
    font-weight: 500;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}



.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-right: 30px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    display: flex;
    min-width: 50%;
    align-items: center;
    justify-content: center;

}

.w50:first-child {
    line-height: 2rem;
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}



img {
    max-width: 100%;
}

.services {
    background: #d3d9db;
}

.heading.white {
    color: #fff;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 100px;
}

.services .content .servicesBx h2 {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.services .content .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

}

.services .content .servicesBx {

    padding: 40px 20px;
    background: #f0eeee;
    color: #222;
    width: 500px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.services .content .servicesBx:hover {
    /* background: #2196f3; */
}

.services .content .servicesBx img {
    max-width: 80px;

}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 100px;

}

.work .content .workBx {
    width: 40%;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


}

.work .content .workBx img {
    max-width: 100%;

    filter: grayscale(100%);
}


.work .content .workBx img:hover {
    filter: grayscale(0)
}

.work .content .work-buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.work .content .work-buttons button {
    width: 120px;
    padding: 10px 20px;
    border: none;
    background: var(--dark-purple);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.work .content .work-buttons button a {
    text-decoration: none;
    color: white;
}

.contact {
    background: #0d0633d8;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfo .box .text {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 90px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
    }

    .toggle {
        width: 50px;
        height: 50px;
        /* background: url(images/Pictogrammers-Material-Microsoft-xbox-controller-menu.48.png);
        background: url(images/icons8-menu-64.png); */
        background: url(images/icons8-menu-pastel/icons8-menu-128.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        cursor: pointer;
    }

    .toggle.active {

        background: url(images/icons8-menu-pastel/icons8-cancel-64.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 55px;
        cursor: pointer;

    }

    .toggle.active .sticky {
        filter: invert(1);
    }

    section {
        padding: 100px 0;
    }

    /* .banner {
        padding: 150px 50px 100px;
    } */

    /* .banner h2 {
        font-size: 1.5em;
    } */

    /* .banner h3 {
        font-size: 1em;
    } */

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    /* .w50 {
        margin-bottom: 20px;
    } */

    .services .content .servicesBx {
        margin: 10px;
    }

    .work .content .workBx {
        width: 100%;
        padding: 10px;
    }


    .contactInfo {
        margin: 20px 0;
    }
}

@media (max-width: 600px) {

    header,
    header.sticky {
        padding: 20px;
    }

    /* .banner {
        padding: 150px 20px 100px;
    } */



    header ul li a::before {
        background-color: var(--dark-purple);
    }

    header ul li a:hover {
        color: var(--dark-purple);
    }

}


.is-animated {

    font-weight: bold;
    padding: 0;
    position: relative;
    color: #fff;

}

.is-animated span {
    display: block;
    /* padding: 0 10px; */
    /* width: 200px; */
}

.property {
    font-size: 400%;
    text-align: right;
    width: 0;
    overflow: hidden;
    float: left;
    -webkit-animation-name: expandProperty;
    /* -webkit-animation-delay: 0.5s; */
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

.value {
    font-size: 300%;
    float: left;
    overflow: hidden;
}

.value span {
    margin-left: -100%;
    -webkit-animation-name: expandValue;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes expandProperty {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@-webkit-keyframes expandValue {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 0;
    }
}


.btn-shine {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* padding: 12px 48px; */
    /* color: #000000; */
    background: linear-gradient(to right, #5c0eda 0, rgb(59, 20, 169) 10%, #fffcfc 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    /* -webkit-text-size-adjust: none; */
    font-weight: 600;

    text-decoration: none;
    white-space: nowrap;
}


@keyframes shine {
    0% {
        background-position: 0
    }

    60% {
        background-position: 250px
    }

    100% {
        background-position: 1360px
    }
}




section .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111;
    color: #eee;
    overflow: hidden;
    position: relative;

}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
    animation-play-state: paused;
  } */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    /* font-size: calc(var(--marquee-height)*3/4); */
    /* 5rem; */
    white-space: nowrap;

}

.marquee-content li {
    width: 150px;

    /* height: 100%; */
    /* border: 2px solid #eee; */
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}



.banner-button {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: auto;
    padding: 15px 24px;
    margin: 50px;
    outline: none;

}

.banner-button:hover {
    box-shadow: 0 0 10px 5px #48abe0,
        0 0 20px 7px #ebecca,
        0 0 25px 20px #8a2be2,
        0 0 30px 25px #ff1493;
}



/*  */

.glow {
    position: relative;
    width: 30vw;
    height: 30vw;
    line-height: 30vw;
    text-align: center;
    color: #cbd2e1;
    background-color: #151823;
    animation: textColor 10s ease infinite;
    font-size: 20px;
}

.glow:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #f2feff, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #530fff;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #0f93ff;
    }
}


/*  */





#glow_box {
    display: inline-block;
    width: 1080px;
    height: 88px;
    position: absolute;
    top: calc(50% - 44px);
    left: calc(50% - 540px);
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    font-size: 6vw;
    /* responsive text: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_text */
    line-height: 88px;
    /* the same as DIV container height to center the text */
    text-align: center;
    vertical-align: middle;
}

.glow_text {
    position: relative;
    background: transparent;
    color: #f5f5f5;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: none;

    transition: all 0.6s linear;
    /* vendorless fallback */
    -o-transition: all 0.6s linear;
    /* opera */
    -ms-transition: all 0.6s linear;
    /* IE 10 */
    -moz-transition: all 0.6s linear;
    /* Firefox */
    -webkit-transition: all 0.6s linear;
    /*safari and chrome */
}

.glow_text:hover {
    /*
      text-shadow:
      0 0 5px rgb(255, 255, 255, 1),
          0 0 10px rgb(255, 255, 255, 1),
          0 0 20px rgb(255, 255, 255, 1),
          0 0 30px rgb(255, 255, 255, 1),
      -1px 0 cyan,
      0 1px cyan,
      1px 0 cyan,
      0 -1px cyan;
    -webkit-text-stroke: 1px cyan;
    */
    text-shadow:
        0 0 5px rgb(255, 255, 255, 1),
        0 0 10px rgb(255, 255, 255, 1),
        0 0 20px rgb(255, 255, 255, 1),
        0 0 30px rgb(255, 255, 255, 1);
}

p.glow_text span.inner {
    position: relative;
    z-index: 2;
}

#glow_box p.glow_text span.inner {
    position: relative;
    content: 'Hi, I/m Helen. A Full Stack Developer.';
    z-index: 2;
}

#glow_box:hover p.glow_text span.inner {
    display: none;
}

#glow_box:hover p.glow_text:after {
    position: relative;
    content: 'Welcome to my site!!';
    z-index: 2;
    color: #111;
}


.banner-btn {
    position: absolute;
    top: 100px;
    left: 80%;
}